.App {
	position: relative;
	width: auto;
	height: auto;
	background: #262626;
	margin: 0 auto;
	padding: 0 5%;
	/*clear: both;*/
}

.Logo {
	font-family: 'Dancing Script';
	font-style: normal;
	font-weight: 700;
	font-size: 45px;
	line-height: 54px;

	color: #FFFFFF;
	order: 0;
}

.call-button {
	order: 2;
	box-sizing: border-box;
	width: 131px;
	height: 50px;
	left: 990px;
	top: 25px;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	border: 2px solid #FFFFFF;
	border-radius: 10px;
	text-align: center;
	color: #FFFFFF;
	background-color: transparent;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-item  {
	display: flex;
	list-style: none;
	font-family: 'Exo 2';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 110%;
	color: #FFFFFF;
	order: 1;
	text-decoration: none;
	justify-content: space-between;
}

